

div.page {
    width: 50%;
    min-height: 2600px;
    margin: 0px auto;
}

div.container {
    position: relative;
    border: 1px solid cornflowerblue;
    /*   margin-top: 30px;
     text-align: center;*/
}

div.post {
    background: #ccd8e4;
    color: #000000;
    position: relative;
    margin: 30px 210px 0px 210px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    text-align: left;
    box-shadow: 3px 3px 3px #222c34;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px auto;
    padding: 0px;
    padding-top: 40px;
    color: #ccd8e4;
    display: block;
    text-align: center;
    text-shadow: 4px 4px 3px #000000;
}

H2{
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
    margin-right: 2em;
}

H3{
    border-bottom: 1px solid cornflowerblue;
    padding-bottom: 0.5em;
    margin-right: 2em;
    margin-left: 0.5em;
}

.controls{
    background-color: #ccd8e4;
    padding: 1em;
    border-top: 1px solid cornflowerblue;
    text-align: right;
}

#dialog-screen-content{
    padding: 1em;
}

#dialog-screen-content > select{
    width: 50%;
}

input{
    background-color: #fee599;
    border: 1px solid #999;
    padding: 4px;
    color: #000;
    font-weight: bold;
    margin-right: 0.5em;
}

input:hover{
    border: 2px outset #999;
    padding: 3px;
}

input:active{
    border: 2px inset #999;
    padding: 3px;
}
